.example-page {
    line-height: 2em;
    padding: 0 20px;

    header {
        color: #2194CE;
        font-size: 25px;
        margin: 10px 0 20px 0;
    }

    &>h4 {
        color: red;
    }

    &>h5 {
        color: blue;
    }

    em {
        font-style: normal;
        color: rgb(36, 163, 248);
        font-size: 12px;
    }

    .line {
        border-bottom: 1px dashed red;
        width: calc(100vw - 260px);
        margin: 20px 0;
    }
}